body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }

  .chat-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 500px;
    overflow-y: auto;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .own .message-container {
    align-items: flex-end;
  }

  .message {
    background-color: #e5f6ff;
    color: #333;
    border-radius: 15px;
    padding: 12px 18px;
    max-width: 70%;
    word-wrap: break-word;
  }

  .own .message {
    background-color: #1976d2;
    color: white;
  }

  .own .message {
    align-self: flex-end;
  }

  .user-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #888;
  }

  .input-container {
    display: flex;
    margin-top: 15px;
  }

  .input-field {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-button {
    padding: 10px 18px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h1,
  h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #333;
  }

  .messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }

  .messages::-webkit-scrollbar {
    width: 8px;
  }

  .messages::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
  }

  .messages::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

  .messages::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .own .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  .own .user-name {
    text-align: right;
    /* Alinhar o nome de usuário à direita */
    color: #888;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .own .message {
    background-color: #f2f2f2;
    color: #333;
    border-radius: 15px;
    padding: 12px 18px;
    max-width: 70%;
    word-wrap: break-word;
    text-align: right;
    /* Alinhar a mensagem à direita */
  }

  .own .timestamp {
    text-align: right;
    /* Alinhar a data e hora à direita */
    font-size: 10px;
    color: #888;
    margin-top: 4px;
  }

  .own .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5px;
    /* Espaçamento entre as mensagens */
  }

  .other .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    /* Espaçamento entre as mensagens */
  }

  .message {
    border-radius: 15px;
    padding: 12px 18px;
    max-width: 70%;
    word-wrap: break-word;
    margin-top: 2px;
    /* Espaçamento entre a mensagem e a hora */
  }

  .own .message {
    background-color: #1976d2;
    color: white;
    text-align: right;
    /* Alinhar a mensagem do próprio usuário à direita */
  }

  .other .message {
    background-color: #e5f6ff;
    color: #333;
    text-align: left;
    /* Alinhar a mensagem do outro usuário à esquerda */
  }

  .timestamp {
    font-size: 10px;
    color: #888;
  }

  .system-message {
    text-align: left;
    margin-bottom: 10px;
  }

  .system-message-text {

    border-radius: 8px;
    padding: 8px 12px;
    max-width: 70%;
    word-wrap: break-word;
  }

  .user-initials {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  
    font-size: 10px;
    margin-right: 10px;
    color:#e5f6ff
  }
  .mention {
    background-color: yellow;
    font-weight: bold;
  }
  .user-list-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .user-list-popup h2 {
    margin-top: 0;
  }
  
  .user-list-popup ul {
    list-style: none;
    padding: 0;
  }
  
  .user-list-popup li {
    margin-bottom: 5px;
  }
    /* Estilos para o popup */
    .user-list-popup {
      display: none;
      position: fixed;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      z-index: 9999;
      max-height: 70vh;
      overflow-y: auto;
    }
  
    .user-list-popup h2 {
      margin-top: 0;
    }
  
    .user-list-popup ul {
      list-style: none;
      padding: 0;
      overflow: hidden;
    }
  
    .user-list-popup li {
      margin-bottom: 5px;
      cursor: pointer;
    }
  
    .user-list-scroll {
      max-height: 200px;
      overflow-y: auto;
    }
  
    #search-user {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
